<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: rgb(39, 83, 81);
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
            color:honeydew;
        }
        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }
        h1{
            margin-left: 40%;
            color:white;
        }
        img{
            margin-left: 40%;
            width:300px;
        }
    </style>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="/showcart" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="/static/added.gif">
        <h1>&#9989; Added Into Cart</h1>
    </div>
    <script>
        document.getElementById("mySidenav").style.width = "100%";
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>