<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>payment</title>
        <style>
            .cls{
                background-color:darkcyan;
            }
            .cls1{
                width:900px;
                margin-top: 8px;
                background-color: rgb(5, 66, 68);
                border-radius: 20px;
            }
            .cls2{
                height:40px;
                font-size:20px;
            }
            form{
                text-align: center;
            }
            input{
                width:50%;
                padding:8px;
                border-radius: 20px;
                border:4px solid black;
            }
            h3{
                color:white;
            }
        </style>
    </head>
    <body>
        <div>
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <span style="color:gainsboro; font-size: 35px;"><i><span style="color:blue;">S</span><span style="color: mediumvioletred;">H</span><span style="color:teal;">O</span><span style="color: slateblue;">P</span><span style="color:red">.</span>com</i></span>
                </a>
            </nav>
        </div>
        <div class="cls1 container">
            <nav class="navbar cls text-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-currency-dollar text-light" viewBox="0 0 16 16">
                    <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                </svg>
                <h2>Select a Payment Method</h2>
            </nav>
            <form action="/ordered" method="post">
                <h3>Your name</h3>
                <input type="text" name="name" placeholder="Enter your name...">
                <h3>Credit card details</h3>
                <input type="number" name="credit_number" placeholder="Enter the creditcard number...">
                <h3>card exp.month</h3>
                <input type="number" name="card_exp_month" placeholder="Enter the card expire month...">
                <h3>card exp.year</h3>
                <input type="number" name="card_exp_year" placeholder="Enter the card expire year...">
                <h3>cvv</h3>
                <input type="number" name="cvv" placeholder="Enter the cvv...">
                <div class="text-center my-4">
                    <button class="btn btn-warning rounded-pill" style="width:450px;"><b>Continue</b></button>
                </div>
            </form>
            <nav class="navbar cls text-light">
                <i class="fa fa-cc-visa" style="font-size:48px;color:white"></i>
                <i class="fa fa-cc-mastercard" style="font-size:48px;color:white"></i>
                <i class="fa fa-cc-paypal" style="font-size:48px;color:white"></i>
                <i class="fa fa-cc-stripe" style="font-size:48px;color:white"></i>
                <i class="fa fa-cc-jcb" style="font-size:48px;color:white"></i>
            </nav> 
        </div>
        <!-- Optional JavaScript; choose one of the two! -->
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        -->
    </body>
</html>
